<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <div class="col-7">
        <h4 class="h4 mb-0 text-gray-800">Inventory</h4>
    </div>
    <div class="col-5 text-right">
      <form class="form-inline float-right" [formGroup]="filterFormGroup" name="filterForm">
          <div class="form-group mx-sm-1">
              <input type="text" class="form-control" id="filterProductNameTxt" formControlName="FilterProductName"
                      placeholder="Search product name ..." (change)='onFilterProductNameValChange()'>
          </div>
          <div class="form-group mx-sm-2">
              <button class="btn-footer-fill my-2 ht-35" id="btnResetFilterForm" (click)="OnResetBtnClicked()">Reset</button>
          </div>
          <!-- <div class="form-group mx-sm-1 mb-2">
            <a (click)='navigationToAddRecord()' class="btn btn-primary mt-2 text-white ht-35"><i class="fa fa-plus"></i> Add</a>
        </div> -->
      </form>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-4">
            <div class="pagination-mat position-relative">
              <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                             [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
              </mat-paginator>
            </div>
          </div>

          <div *ngIf='datalist!=undefined'>
            <div class="widget-area-grid padding-0" *ngIf='datalist.length!=0'>
              <table mat-table [dataSource]="dataSource" matSort class="table-cust" (matSortChange)="sortData($event)">
                <ng-container matColumnDef="productname">
                  <th class="width15 ip-w-5" mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                  <td mat-cell *matCellDef="let element" title="{{element.ProductName}}">{{element.ProductName}} </td>
                </ng-container>
                <ng-container matColumnDef="procQty">
                  <th class="width13 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Proc. Qty. </th>
                  <td mat-cell *matCellDef="let element" title="{{element.ProcurementQuantity}}">{{element.ProcurementQuantity}} </td>
                </ng-container>
                <ng-container matColumnDef="procUom">
                  <th class="width12 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Proc. UOM </th>
                  <td mat-cell *matCellDef="let element" title="{{element.ProcurementUOM}}">{{element.ProcurementUOM}} </td>
                </ng-container>
                <ng-container matColumnDef="saleQty">
                  <th class="width12 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Sale Qty. </th>
                  <td mat-cell *matCellDef="let element" title="{{element.SaleQuantity}}">{{element.SaleQuantity}} </td>
                </ng-container>
                <ng-container matColumnDef="saleUom">
                    <th class="width12 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Sale UOM </th>
                    <td mat-cell *matCellDef="let element" title="{{element.SaleUOM}}">{{element.SaleUOM}} </td>
                </ng-container>
                <ng-container matColumnDef="wastage">
                <th class="width10 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Wastage </th>
                <td mat-cell *matCellDef="let element" title="{{element.Wastage}}">{{element.Wastage}} </td>
                </ng-container>
                <ng-container matColumnDef="pendingQty">
                    <th class="width13 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Pending Qty </th>
                    <td mat-cell *matCellDef="let element" title="{{element.PendingQuantity}}">{{element.PendingQuantity}} </td>
                    </ng-container>
                <ng-container matColumnDef="actions">
                  <th class="width15 ip-w-25" mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="action-btns btn-tbl-action">
                      <button type="button" title="Update" id="btnUpdate" (click)="navigationToEditRecord(element)">
                        <span class="fa fa-pencil-square-o"></span>
                      </button>
                      <!-- <button type="button" title="Delete" id="btnDelete" (click)="deleteRecord(element)">
                        <span class="fa fa-trash-o"></span>
                      </button> -->
                    </div>
                  </td>
                </ng-container>
      
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <div class="widget-area-grid padding-0 text-center" *ngIf='datalist.length==0'>
              No Record found
            </div>
          </div>
    </div>
</div>