<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="col-6">
    <h4 class="h4 mb-0 text-gray-800">Procurement</h4>
  </div>
  <div class="col-6 text-right">
    <form class="form-inline float-right" [formGroup]="filterProcurmentFormGroup" name="procurementForm">
      <div class="position-relative">
        <input [owlDateTime]="dt" class="form-control" id="inputFilterProcurementDate" formControlName="FilterProcurementDate"
             placeholder="Please Select Date ..." readonly (ngModelChange)="onFilterProcurementDateChange($event)">
        <span [owlDateTimeTrigger]="dt" class="datetime-icon"> <i class="fa fa-calendar"></i> </span>
        <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
      </div>
      <div class="form-group mx-sm-2 mb-2">
        <button class="btn-footer-fill mt-2 ht-35" id="btnResetFilterProcurementForm" (click)="OnResetBtnClicked()">Reset</button>
      </div>
      <div class="form-group mx-sm-1 mb-2">
          <a (click)='navigationToAddRecord()' class="btn btn-primary mt-2 text-white ht-35"><i class="fa fa-plus"></i> Add</a>
      </div>
  </form>
  </div>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-4">
            <div class="pagination-mat position-relative">
              <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                             [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
              </mat-paginator>
            </div>
          </div>

          <div *ngIf='datalist!=undefined'>
            <div class="widget-area-grid padding-0" *ngIf='datalist.length!=0'>
              <table mat-table [dataSource]="dataSource" matSort class="table-cust" (matSortChange)="sortData($event)">
                <!-- Position Column -->
                <ng-container matColumnDef="date">
                  <th class="width15 ip-w-15" mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf='element.ProcurementDate!="0001-01-01T00:00:00"' title="{{element.ProcurementDate | date : DataFormat}}">
                      {{element.ProcurementDate | date : DataFormat}} 
                    </span>
                    <span *ngIf='element.ProcurementDate=="0001-01-01T00:00:00"'> - </span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="farmername">
                  <th class="width15 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Farmer Name </th>
                  <td mat-cell *matCellDef="let element" title="{{element.FarmerName}}">{{element.FarmerName}}</td>
                </ng-container>
                <ng-container matColumnDef="totalAmt">
                  <th class="width15 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Total Amt. </th>
                  <td mat-cell *matCellDef="let element" title="{{element.TotalAmount}}"><i class="fa fa-inr"></i> {{element.TotalAmount}} </td>
                </ng-container>
                <ng-container matColumnDef="amtPaid">
                    <th class="width15 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Amt. Paid </th>
                    <td mat-cell *matCellDef="let element" title="{{element.AmountPaid}}"><i class="fa fa-inr"></i> {{element.AmountPaid}} </td>
                </ng-container>
                <ng-container matColumnDef="amtPending">
                <th class="width15 ip-w-10" mat-header-cell *matHeaderCellDef mat-sort-header> Amt. Pending </th>
                <td mat-cell *matCellDef="let element" title="{{element.PendingAmount}}"><i class="fa fa-inr"></i> {{element.PendingAmount}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th class="width15 ip-w-25" mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="action-btns btn-tbl-action">
                      <button type="button" title="View" id="btnView" (click)="navigationToViewRecord(element)">
                        <span class="fa fa-file-text-o"></span>
                      </button>
                      <button type="button" title="Update" id="btnUpdate" (click)="navigationToEditRecord(element)">
                        <span class="fa fa-pencil-square-o"></span>
                      </button>
                      <button type="button" title="Delete" id="btnDelete" (click)="deleteRecord(element)">
                        <span class="fa fa-trash-o"></span>
                      </button>
                    </div>
                  </td>
                </ng-container>
      
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <div class="widget-area-grid padding-0 text-center" *ngIf='datalist.length==0'>
              No Record found
            </div>
          </div>
    </div>
</div>